* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  background-image: linear-gradient(120deg, #f5d25e, #fda085);
  font-family: "Roboto", Sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.todo-sec {
  min-height: 100vh;
}
.todo-sec,
header,
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
header,
form {
  min-height: 12vh;
}
form input,
form button {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1.2rem;
}
form button {
  padding: 0.5rem 0.7rem;
  color: #d88771;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
form button:hover {
  color: #fff;
  background-color: #d88771;
}
.todo-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.todo-list {
  list-style-type: none;
  min-width: 64%;
}
.todo {
  margin: 0 0 0.5rem 0;
  background-color: #fff;
  color: black;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0.5rem;
  transition: all ease 0.5s;
}
.todo li {
  flex: 1;
}
.complete-btn,
.trash-btn {
  background-color: #f85528;
  color: #fff;
  padding: 0.5rem 0.9rem;
  border: none;
  cursor: pointer;
}
.complete-btn {
  background-color: rgb(73, 204, 73);
  margin-left: 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotate(20deg);
  opacity: 0;
}

.select select {
  color: #f85528;
  /* background-color: #f85528; */
  border: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0.7rem 3.5rem 0.7rem 0.7rem;
  cursor: pointer;
}
.select {
  margin-left: 1rem;
  position: relative;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  color: #f85528;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  pointer-events: none;
  padding: 0.7rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.select:hover::after {
  background-color: #f85528;
  color: #fff;
}
